h1 {
    font-family: "Press Start 2P", cursive;
    font-size: 25px;
    font-weight: 900;
    line-height: 48px;
    margin: 0;
    padding: 5px;
    text-align: center;
}

button {
    background: #ecf27c;
    border: none;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: #000;
    display: inline;
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    margin: 10px 5px;
    padding: 10px 10px;
    transition: all 150ms ease-in-out;
}

button:hover {
    background-size: 100%;
    cursor: pointer;
    opacity: 0.75;
}

h3#city {
    font-weight: bolder;
}

h4#date {
    font-weight: bolder;
}

ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}

li:first-letter {
    text-transform: capitalize;
}

.container {
    background: linear-gradient(109.6deg,
            rgba(227, 236, 62, 0.68) 11.2%,
            rgba(230, 29, 58, 0.78) 91.3%);
    border-radius: 5px;
    color: #fff;
    font-family: "Electrolize", sans-serif;
    font-weight: 600;
    padding: 15px;
}

.headerIcon {
    float: left;
    font-size: 750%;
    margin: 0 15px 0 0;
    text-align: center;
}

.icon {
    font-size: 350%;
}

.city-search {
    display: inline-flex;
}

.city-input {
    border-radius: 5px;
    flex: 0 0 75%;
    float: left;
    margin: 7px;
    max-width: 100%;
}

.material-symbols-outlined {
    color: #d00000;
    font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
}

.search-button {
    background: #ecf27c;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: #000;
    flex: 0 0 25%;
    float: left;
    margin: 7px;
    max-width: 25%;
}

.audio-container {
    height: 75%;
    margin: 5px -10px 5px;
    padding: 15px;
    position: relative;
    width: 85%;
}

.audio-container audio {
    background-color: inherit;
    height: 65%;
    opacity: 0.3;
    position: absolute;
    text-align-last: center;
    top: 0;
    width: 40%;
}

.forecast {
    text-align: center;
}

.footer {
    font-size: small;
    padding: 5px;
    text-align: center;
}

#element-with-background-image {
    position: relative;
    background-size: absolute;
    background-repeat: no-repeat;
    background-image: url("../images/carmen-sandiego.jpg");
}

#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0.9;
}

#celsius-link {
    color: #fff;
}

#fahrenheit-link {
    color: #fff;
}
